h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff; 
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    backdrop-filter: blur(20px); 
} 
header { 
    width: 100%; 
    height: 85vh; 
    padding: 0;
    background-image: url('https://textur.gas-kvas.com/uploads/posts/2024-10/textur-gas-kvas-com-puab-p-teksturi-subway-surfers-5.jpg')
    ;
    background-size: cover;       
    background-repeat: no-repeat;
    background-position: center;
}
body {
    background-color: #ffffff;
    margin: 0;
    }
.game-description {
    position: relative;
    min-height: 400px;                 
    margin-top: 150px;             
    padding: 60px 20px;       
    background: #f5f5f5; 
     }
 .description-container {
    max-width: 1400px;
    margin: auto ;          
    text-align: center;
    background-position: center;
     }
.numbered-list {
     max-width: 800px;
    margin: 0 auto;
         }
.navigation {
    width: 100%;
    height: 6vh;
    background: #f5f5f5;
    padding: 38px 0;
    margin: 0;
    max-width: 100%;
}
.nav-button {
display: inline-block;
    padding: 12px 24px;
    background: #FB6C00;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    min-width: 200px;
    text-align: center;
    margin: auto 0;
    }
  .nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}
.top-button {
            position: fixed;
            bottom: 30px;
            right: 30px;
            padding: 20px 20px;
            background: #FB6C00;
            color: white;
            text-decoration: none;
            border-radius: 30px;
            font-weight: bold;
        
        }
        
        html {
            scroll-behavior: smooth;
        }
        #bottom {
           position: absolute;
    top: 100%;
    left: 41%;
    text-align: center;
    color: #ffffff; 
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif; 
        }
        .fot04ki {
    position: relative;
    margin-top: 100px; 
}
#bottom {
    background: #FB6C00;
    padding: 20px 0;
    margin: 20px auto 30px auto;
    width: 15%; 
    max-width: 100%;
    border-radius: 20px;
    text-align: center; 
    color: white; 
    font-size: 28px;
}
.images-row {
    display: block;
    justify-content: center;
    gap: 25px;
    margin: 40px 0;
    padding: 20px;
}

.image-item {
    text-align: center;

}

.image-item img {
    width: 800px;
    height: 500px;
  object-fit: cover;
    border-radius: 12px;
    border: 3px solid #FB6C00;
}

.image-caption {
    display: inline-block;
    background: #FB6C00;
    color: white;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 5px;
}
.caption {
    text-align: center;
}