.header-title {
    text-align: center;
   
     }
.middle-title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    background: #FB6C00;
     color: white;
    border-radius: 6px;
    min-width: 200px;
    }
    .float-right {
        margin-top: 5px;
        float: right;
      margin-left: 15px;
    }
       .list-container  {
        margin-top: 5px;
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
    padding: 12px 24px;
    background: #FB6C00;
     color: white;
    border-radius: 6px;
    min-width: 200px;
    }
    .text-container {
         font-size: 22px;
         text-align: justify;
    }
    .float-right {
         border: 5px solid #FB6C00;
         border-radius: 8px;
         margin-right: 10px;
    }
    .description-list {
text-align: left;
    }
    .numbered-list {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    padding: 12px 24px;
    background: #FB6C00;
     color: white;
    border-radius: 6px;
    min-width: 200px;
    }
    .numbered-list-two {
        margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    text-align: left;
    display: inline-block;
    padding: 12px 24px;
    border-radius: 6px;
    min-width: 200px;
    }
    .information {
      font-size: 20px;
         text-align: center;
    }
  .navigation {
    width: 100%;
    height: 6vh;
    background: #f5f5f5;
    padding: 38px 0;
    margin: 0;
    max-width: 100%;
}
      .nav-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        
        .nav-button {
            display: inline-block;
            padding: 8px 15px;
            color: #333;
            text-decoration: none;
            background: white;
            border: 1px solid #ddd;
            border-radius: 5px;
            text-align: center;
            min-width: 120px;
            font-family: 'Arial, sans-serif';  
        }
        .nav-button:hover {
            background: #ff5722;
            color: white;
            border-color: #ff5722;
        }
.top-button {
            position: fixed;
            bottom: 30px;
            right: 30px;
            padding: 20px 20px;
            background: #FB6C00;
            color: white;
            text-decoration: none;
            border-radius: 30px;
            font-weight: bold;
            text-align: right;
        
        }
        
        html {
            scroll-behavior: smooth;
        }
        @media (max-width: 768px) {
    .image-item img {
        max-width: 100%;
        padding: 10px 10px;
        }
            }